:root {
    --clr-orange: 7 100% 63%;
    --clr-blue: 239 100% 50%;
    --clr-white: #f9f9f9;
    --clr-black: black;
    --clr-marvelred: #e12835;
    --clr-container: rgba(224, 41, 44, 0.7);
    --clr-marvelgradient: radial-gradient(#e12835 20%, #be2633 50%, rgba(0, 0, 0, 0.5) 100%);
    --clr-navbargradient: radial-gradient(#730801, #1f0100);
    --spacer: 2rem;
    --font-secondary: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a,
a:active,
a:visited{
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: BentonSans;
    src: url(/static/font/BentonSans-Comp-Black-Regular.otf);
}

body {
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #182848, #4b6cb7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: BentonSans, sans-serif;
    /*font-family: "Barlow Condensed", sans-serif;*/
}

