#marvel_logo {
  color: transparent;
  font-weight: bold;
  transform: scale(1, 1.3);
  font-size: 50vh;
  -webkit-text-stroke: 2px  var(--clr-black);;
  letter-spacing: 0;
  opacity: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: BentonSans, sans-serif;
  background-image: radial-gradient(#730801, #1f0100);
  overflow: hidden;
}

#hidden {
  position: fixed;
  opacity: 0;
  z-index: -1;
}

#background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
  transform: scale(1.4);
}

/*<------------------------------------loader------------------------------------->*/
#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  z-index: 125;

}

#loader_logo img{
  width: 200px;
  text-shadow: 20px 20px;
  -webkit-filter: drop-shadow(0px 20px 20px rgba(0,10,20,0.5));
}

#loader span {
  animation: focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  display: block;
  color:  var(--clr-white);
  font-size: 20px;
  margin-top: 10px;
}

#loader span :hover {
    -webkit-filter: drop-shadow(0px 20px 20px rgba(97, 28, 134, 0.5));
}
/*<------------------------------------loader------------------------------------->*/

/*<------------------------------------animation------------------------------------->*/
@keyframes hideBackground {
  0% {
    opacity: 1;
    transform: scale(1.4);
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes marvel {
  0% {
    opacity: 0;
    font-size: 80vh;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-color: var(--clr-black);
  }
  20% {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-color: var(--clr-black);
  }
  60% {
    color: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-color: var(--clr-black);
  }
  100% {
    opacity: 1;
    font-size: 15vh;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke-color: transparent;
  }
}

@keyframes focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes blur-out {
  0% {
    filter: blur(0.01);
  }
  100% {
    filter: blur(12px) opacity(0%);
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
