<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- css -->
    {% block css %}

    {% endblock %}
    <!-- Javascript -->
    {% block scripts %}
            <script src="/static/js/header.js" defer></script>
    {% endblock %}
    <title>{% block title %}{% endblock %} | Marvel API</title>
</head>
<body>


{% block content %}

{% endblock %}


</body>
</html>