{% extends 'layout.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/cinematic_universe.css">
{% endblock %}
{% block scripts %}
    <script type="module" src="/static/js/cinematic_universe.js" defer></script>
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="hero-container">
        <div class="details-container movie-overview">
            <h2>Overview</h2>
            <h3 class="summary">{{ movie_details["overview"] }}</h3>
        </div>
        <div class="details-container hero-container-title">
            <h1 class="movie-title">{{ movie_details["title"] }}</h1>
        </div>
        <div class="details-container hero-container-details">
            <h3 class="saga">{{ movie_details["saga"] }}</h3>
            <h3 class="movie-duration">Duration:{{ movie_details["duration"] }} min</h3>
            <h3 class="movie-release_date">Released: {{ movie_details["release_date"] }}</h3>
        </div>

    </div>
    <h2 class="title">Movies</h2>

    <div id="movies_container">
    </div>

{% endblock %}